@***************************************@
@*                                     *@
@*   Created by Elias De Hondt         *@
@*   Visit https://eliasdh.com         *@
@*                                     *@
@***************************************@

@model PadelClubManagement.BL.Domain.PadelCourt
@{
    ViewData["Title"] = "PadelCourt";
}
<h1>@ViewData["Title"]  (ID: @Model.CourtNumber) Details</h1>
<br/>
<dl>
    <dt>Court Number</dt>
    <dd>@Model.CourtNumber</dd>
    <dt>Indoor?</dt>
    <dd>@(Model != null ? Model.IsIndoor ? "Yes" : "No" : "N/A")</dd>
    <dt>Capacity</dt>
    <dd>@Model.Capacity</dd>
    <dt>Price</dt>
    <dd>@Model.Price</dd>
</dl>
<br/>
<h2>Related Players</h2>
<br/>
<table class="item-table">
    <thead>
    <tr>
        <th>Player Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Level</th>
        <th>Player Position</th>
    </tr>
    </thead>
    <tbody id="responseTableBody"></tbody>
</table>
@if (User.Identity is { IsAuthenticated: true })
{
    <br/>
    <h2>Add PadelCourts to Player</h2>
    <br/>
    <form id="addPadelCourtsToPlayerForm">
        <label for="playerSelect">Player:</label>
        <select id="playerSelect"></select><br>

        <label for="startTimeInput">StartTime:</label>
        <input type="time" id="startTimeInput"><br>

        <label for="endTimeInput">EndTime:</label>
        <input type="time" id="endTimeInput"><br>
        <br/>
        <button type="submit" id="addPlayerButton">Add</button>
    </form>
}

<span id="courtNumber" data-court-number="@Model.CourtNumber"></span>
@section Scripts {
    <script src="~/js/player/detail.js" defer></script>
    @if (User.Identity is { IsAuthenticated: true })
    {
        <script src="~/js/player/add.js" defer></script>
    }
}