<!-- Van Elias De Hondt -->
@model PadelClubManagement.BL.Domain.Player
@{
    ViewData["Title"] = "Player";
}

<h1>Player (ID: @Model.PlayerNumber)</h1>
<br/>
<dl>
    <dt>Player Number</dt>
    <dd>@Model.PlayerNumber</dd>
    <dt>First Name</dt>
    <dd>@Model.FirstName</dd>
    <dt>Last Name</dt>
    <dd>@Model.LastName</dd>
    <dt>Birth Date</dt>
    <dd>@Model.BirthDate</dd>
    <dt>Level</dt>
    <dd>@(Model.Level != 0 ? Model.Level : "unknown")</dd>
    <dt>Player Position</dt>
    <dd>@Model.Position</dd>
</dl>
<br/>
<table class="item-table">
    <tr>
        <th>Booking Number</th>
        <th>Booking Date</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    @foreach (PadelClubManagement.BL.Domain.Booking booking in Model.Bookings)
    {
        <tr>
            <td>@booking.BookingNumber</td>
            <td>@(booking.BookingDate?.ToString("yyyy MMMM dd") ?? "N/A")</td>
            <td>@booking.StartTime</td>
            <td>@booking.EndTime</td>
            
        </tr>
    }
</table>
<br/>
<table class="item-table">
    <tr>
        <th>Court Number</th>
        <th>Indoor?</th>
        <th>Capacity</th>
        <th>Price</th>
        <th>Details</th>
    </tr>
    @foreach (PadelClubManagement.BL.Domain.Booking booking in Model.Bookings)
    {
        <tr>
            <td>@booking.PadelCourt.CourtNumber</td>
            <td>@(booking.PadelCourt != null ? booking.PadelCourt.IsIndoor ? "Yes" : "No" : "N/A")</td>
            <td>@booking.PadelCourt.Capacity</td>
            <td>@booking.PadelCourt.Price</td>
            <td><a asp-controller="PadelCourt" asp-action="Detail" asp-route-CourtNumber="@booking.PadelCourt.CourtNumber">Details</a></td>
        </tr>
    }
</table>